127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
::1       localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups["all"]|sort %}
{% set first_nic = hostvars[host].ansible_interfaces | difference(["lo"]) | first %}
{% set second_nic = hostvars[host].ansible_interfaces | difference(["lo"]) | last %}
{{ hostvars[host]["ansible_" + first_nic]["ipv4"]["address"] }} {{ hostvars[host]["ansible_hostname"] }}.local
{{ hostvars[host]["ansible_" + second_nic]["ipv4"]["address"] }} {{ hostvars[host]["ansible_hostname"] }}
{% endfor %}
192.168.121.1 ETCD.host GRAPHITE.host
